<form [formGroup]="form">
    <mat-form-field class="example-full-width">
        <input placeholder="Name" type="text" matInput formControlName="firstName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="text" matInput placeholder="surname" formControlName="lastName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="email" matInput placeholder="email" name = "email" formControlName="email">
    </mat-form-field>
    <button (click)="addUser()" mat-raised-button>Создать</button>
</form>
