<form class="example-form">
    <mat-form-field class="example-full-width">
        <input type="text" matInput placeholder="name" name = "name" [(ngModel)]="user.name" #name="ngModel" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="text" matInput placeholder="surname" name = "surname" [(ngModel)]="user.surname" #surname="ngModel" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="email" matInput placeholder="email" name = "email"  [(ngModel)]="user.email" #email="ngModel" required  pattern="[a-zA-Z0-9_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}">
    </mat-form-field>
    <button [disabled]="name.invalid || surname.invalid || email.invalid" (click)="addUser()" mat-raised-button>Создать</button>
</form>
