<form>
    <button mat-raised-button color="accent" class="confirm-button">Confirm test</button>
    <mat-form-field class="select">
        <mat-label>Test Theme</mat-label>
        <mat-select>
            <mat-option>
                HTML
            </mat-option>
            <mat-option>
                CSS
            </mat-option>
            <mat-option>
                JS
            </mat-option>
            <mat-option>
                Angular
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>
    <div class="cards">
        <div class="question-card">
            <mat-card>
                <mat-card-title>Question#1</mat-card-title>
                <mat-card-subtitle>
                    <textarea placeholder="Here input question" matInput type="text"></textarea>
                </mat-card-subtitle>
                <mat-card-content class="answers">
                    <mat-form-field>
                        <input placeholder="Possible answer" matInput type="text">
                        <mat-icon class="mat-18 delete">delete</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <input placeholder="Correct answer" matInput type="text">
                        <mat-icon class="mat-18 delete">delete</mat-icon>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="question-card">
        <mat-card>
            <mat-card-title>Question#2</mat-card-title>
            <mat-card-subtitle>
                <textarea placeholder="Here input question" matInput type="text"></textarea>
            </mat-card-subtitle>
            <mat-card-content class="answers">
                <mat-form-field>
                    <input placeholder="Possible answer" matInput type="text">
                    <mat-icon class="mat-18 delete">delete</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <input placeholder="Correct answer" matInput type="text">
                    <mat-icon class="mat-18 delete">delete</mat-icon>
                </mat-form-field>
                <button mat-raised-button color="primary" class="add-answer">+</button>
            </mat-card-content>
        </mat-card>
    </div>
    </div>
    <div class="add-card">
        <button mat-raised-button color="primary">+</button>
    </div>
</form>
