.select{
    width: 100%;
    display: flex;
    justify-content: center;
}
.question-card{
    width: 47%;
    padding: 1%;
}
.answers > mat-form-field {
    margin: 15px;
}
.delete{
    position: absolute;
}
.delete:hover{
    color: #3f51b5;
    transition: ease 0.3s;
    cursor: pointer;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.add-card{
    display: flex;
    justify-content: center;
}
.add-answer{
    margin-left: 15px;
}
.confirm-button{
    position: absolute;
    top: 10px;
    left: 90%;
}
