 <form [formGroup]="authFormGroup">
            <label>
                <app-input-clear customType="text"
                                 customPlaceholder="email"
                                 [customFormControl]="authFormGroup.controls['email']"></app-input-clear>
            </label>
            <label>
                <app-input-clear customType="password"
                                 customPlaceholder="password"
                                 [customFormControl]="authFormGroup.controls['password']"></app-input-clear>
            </label>
        <button mat-raised-button
                color="primary"
                (click)="signIn(dataFromForm.email, dataFromForm.password)">Sign In</button>
     <button mat-button
             (click)="changeMode('SignUp')">SignUp</button>
     <p *ngIf="error$">{{error$ | async}}</p>
 </form>
